.cardDetails {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto [row-start])
}

.cardImage {
    /* width: 149.9px; */
    /* height: 208.5px; */
}

.label {
    width: 100%;
    text-align: right;
}